Assignment 3

In [43]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, mean_squared_error, mean_absolute_error
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

Load Dataset

In [70]:
data = pd.read_csv("listings.csv", delimiter=",")
print(data.dtypes)
print(data.isna().values.any())
data = data.dropna()
print(data.isna().values.any())

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object
True
False

Change some types to countable type

In [76]:
myset = set(data["room_type"])
print(myset)

myset2 = set(data["neighbourhood_group"])
print(myset2)

myset3 = set(data["neighbourhood"])
print(myset3)

data["room_type"] = pd.Categorical(data["room_type"])
data["room_type"] = data["room_type"].cat.rename_categories([1,2,3])
data["room_type"] = data["room_type"].cat.codes
data["room_type"] = data["room_type"]+1
print(data["room_type"])

data["neighbourhood_group"] = pd.Categorical(data["neighbourhood_group"])
data["neighbourhood_group"] = data["neighbourhood_group"].cat.rename_categories([1,2,3,4,5])
data["neighbourhood_group"] = data["neighbourhood_group"].cat.codes
data["neighbourhood_group"] = data["neighbourhood_group"]+1
print(data["neighbourhood_group"])

{1, 2, 3}
{1, 2, 3, 4, 5}
{'Jurong East', 'Orchard', 'Newton', 'Jurong West', 'Pasir Ris', 'Bukit Merah', 'Outram', 'Queenstown', 'Rochor', 'Sembawang', 'Museum', 'Clementi', 'Sengkang', 'Ang Mo Kio', 'Toa Payoh', 'Serangoon', 'Bishan', 'Choa Chu Kang', 'Hougang', 'Bukit Panjang', 'Tuas', 'Singapore River', 'Sungei Kadut', 'Southern Islands', 'Tampines', 'Central Water Catchment', 'Mandai', 'Bukit Batok', 'Downtown Core', 'River Valley', 'Bukit Timah', 'Yishun', 'Punggol', 'Woodlands', 'Geylang', 'Marina South', 'Tanglin', 'Western Water Catchment', 'Bedok', 'Novena', 'Marine Parade', 'Kallang'}
0       2
1       2
2       2
3       2
4       2
       ..
7715    1
7728    2
7752    2
7766    1
7767    2
Name: room_type, Length: 5148, dtype: int8
0       3
1       1
2       3
3       2
4       2
       ..
7715    1
7728    1
7752    5
7766    1
7767    4
Name: neighbourhood_group, Length: 5148, dtype: int8

Mean and Variance of each Continuous Random Variables

In [15]:
print("Latitude Mean: ",data["latitude"].mean())
print("Latitude Variance: ",data["latitude"].var())

print("Longitude Mean: ",data["longitude"].mean())
print("Longitude Variance: ",data["longitude"].var())

print("Reviews per month Mean: ",data["reviews_per_month"].mean())
print("Reviews per month Variance: ",data["reviews_per_month"].var())

Latitude Mean:  1.313295291375289
Latitude Variance:  0.0008581976614072127
Longitude Mean:  103.84981773892754
Longitude Variance:  0.0019138210690656972
Reviews per month Mean:  1.0438539238539188
Reviews per month Variance:  1.6535579052167562

Mean and Variance of each Discrete Random Variables * countable only

In [78]:
print("Id Mean : ",data["id"].mean())
print("Id Var : ",data["id"].var())

print("Host Id Mean : ",data["host_id"].mean())
print("Host Id Var : ",data["host_id"].var())

print("Price Mean : ",data["price"].mean())
print("Price Var : ",data["price"].var())

print("Minimum Night Mean : ",data["minimum_nights"].mean())
print("Minimum Night Var : ",data["minimum_nights"].var())

print("Number of Reviews Mean : ",data["number_of_reviews"].mean())
print("Number of Reviews Var : ",data["number_of_reviews"].var())

print("availability 365 Mean : ",data["availability_365"].mean())
print("availability 365 Var : ",data["availability_365"].var())

print("Room Type Mean : ",data["room_type"].mean())
print("Room Type Var : ",data["room_type"].var())

print("Neighbourhood Group Mean : ",data["neighbourhood_group"].mean())
print("Neighbourhood Group Var : ",data["neighbourhood_group"].var())

print("Calculated Host Listings count Mean : ",data["calculated_host_listings_count"].mean())
print("Calculated Host Listings count Var : ",data["calculated_host_listings_count"].var())

Id Mean :  21437472.39121989
Id Var :  97477764427779.81
Host Id Mean :  80321178.93900543
Host Id Var :  6080804872030466.0
Price Mean :  151.3111888111888
Price Var :  64428.489892271995
Minimum Night Mean :  12.465229215229215
Minimum Night Var :  1050.622260740176
Number of Reviews Mean :  19.67055167055167
Number of Reviews Var :  1220.611085221218
availability 365 Mean :  201.1447163947164
availability 365 Var :  20345.944664131646
Room Type Mean :  1.5404040404040404
Room Type Var :  0.3560512841647483
Neighbourhood Group Mean :  1.4961149961149962
Neighbourhood Group Var :  1.3283315134879152
Calculated Host Listings count Mean :  35.22222222222222
Calculated Host Listings count Var :  3615.7182393195326